.bg-third {
    background-color: #0EAD37;
}

#nav-disabled a {
    color: rgb(255, 255, 255);
}

#nav-custom a,
#nav-custom:hover a,
#nav-disabled:hover a {
    color: #fff;
    background-color: #5DC674;
}

#col-md-custom a {
    position: relative;
    width: 60%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}